<h2>Edit User</h2>

<form ng-submit="submit()" ng-controller="EditUserController">
    <div class="form-horizontal">
        <hr />
        <input id="id" name="id" ng-model="user.Id" />

        <div class="form-group">
            <label class="control-label col-md-2" for="name">Name</label>
            <div class="col-md-10">
                <input id="name" name="name" class="form-control" type="text" ng-model="user.Name" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="age">Age</label>
            <div class="col-md-10">
                <input id="age" name="age" class="form-control" type="text" ng-model="user.Age" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="address">Address</label>
            <div class="col-md-10">
                <input id="address" name="address" class="form-control" type="text" ng-model="user.Address" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a href="/">Back to List</a>
</div>
