<div class="container">
    <div ng-controller="ListUserController">
        <h2>All Users</h2>

        <p>
            <a href="/#!/User/Create">Create New</a>
        </p>
        
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Search by Name" ng-model="searchText" />
        </div>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th></th>
            </tr>
            <tr ng-repeat="user in users | filter: search">
                <td>{{user.Name}}</td>
                <td>{{user.Age}}</td>
                <td>{{user.Address}}</td>
                <td><a ng-href="/#!/User/Edit/{{user.Id}}">Edit</a></td>
            </tr>
            <tr ng-show="showNoResults">
                <td colspan="4">No Results Found</td>
            </tr>
        </table>
    </div>
</div>